@font-face {
  font-family: "Melts";
  src: url("../fonts/melts.woff2");
}

.custom-navbar {
  background-color: #241830;
  color: rgb(240, 240, 240);
}

.text-logo {
  font-family: "Melts";
  color: rgb(240, 240, 240);
  text-shadow: 5px 5px #770022;
  font-size: 40px;
  margin-bottom: 0px;
}
